@using TPWebIII.Helpers
@using TPWebIII.Models.Enums
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Preguntas UNLaM", "HomeAlumnos", "Alumnos", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "HomeAlumnos", "Alumnos")</li>
                <li>@Html.ActionLink("Preguntas", "Preguntas", "Alumnos", new { estadoPreguntas = (int)EnumEstadoPreguntaFiltro.Todas }, null)</li>
                <li>@Html.ActionLink("Acerca de", "acerca-de", "Alumnos")</li>
                <li><a href="#">@UserCache.Username</a></li>
                <li>@Html.ActionLink("Salir", "Salir", "Alumnos")</li>
            </ul>
        </div>
    </div>
</div>